{% extends "pacman/layout.html" %}
{% load static %}

{% block body %}
    <h2> Challenges {{mode}} </h2>
    {% for challenge in challenges %}
        <div class="challengeDiv">
            <p> <strong> Sender: </strong> {{challenge.sender.username}} </p>
            <p> <strong> Receiver: </strong> {{challenge.receiver.username}} </p>
            {% if mode == "sent" %}
                <p> <strong> Bet Score: </strong> {{challenge.bet_score}} </p>
            {% endif %}

            {% if not challenge.finalized %}
                {% if mode == "received" %}
                    <a href="/?accept=true&id={{challenge.id}}">
                        <button id="acceptButton" class="btn btn-primary">
                            Accept 
                        </button>
                    </a>
                {% else %}
                    <p> <strong> Not attempted </strong></p>
                {% endif %}
            {% else %}
                {% if challenge.sender_win %}
                    <p> <strong> Sender Win </strong> </p>
                {% else %}
                    <p> <strong> Receiver Win </strong> </p>
                {% endif %}
            {% endif %}
        </div>
    {% endfor %}
{% endblock %}