body {
    margin: 10px;
}

.html {
    height: 100%;
    width: 100%;
}

#myCanvas{
    background-color: black;
}

.inlineButton {
    display: inline-block;
    margin: 10px;
}

.movingButton {
    text-align: center;
    width: 70px;
}

.centered {
    margin: auto;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.challengeDiv {
    margin: 10px;
    padding: 10px;
    border: solid 1px rgb(176, 171, 171);
    border-radius: 5px;
}